@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 47 100% 95%;
    --foreground: 0 44% 34%;

    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;

    --border: 0 0% 89.8%;
    --input: 0 0% 45.1%;

    --primary: 0 44% 34%;
    --primary-foreground: 47 100% 95%;

    --secondary: 74 18% 71%;
    --secondary-foreground: 47 100% 95%;

    --accent: 63 70% 59%;
    --accent-foreground: 0 0% 9%;

    --destructive: 0 72.2% 50.6%;
    --destructive-foreground: 0 0% 98%;

    --ring: 0 0% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;

    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;

    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;

    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;

    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;

    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;

    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;

    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --ring: 0 0% 83.1%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@font-face {
  font-family: "Schuss";
  font-style: normal;
  font-weight: 400;
  src:
    local("Schuss"),
    url("/fonts/SchussSerifPro-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Schuss";
  font-style: normal;
  font-weight: 500;
  src:
    local("Schuss"),
    url("/fonts/SchussSerifPro-Medium.woff2") format("woff2");
}

@font-face {
  font-family: "Schuss";
  font-style: normal;
  font-weight: 700;
  src:
    local("Schuss"),
    url("/fonts/SchussSerifPro-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "Monarda";
  font-style: normal;
  font-weight: 400;
  src:
    local("Monarda"),
    url("https://fonts.cdnfonts.com/s/38697/Monarda.woff") format("woff");
}

@font-face {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 400;
  src:
    local("Fira Sans"),
    url("https://fonts.cdnfonts.com/s/15889/FiraSans-Regular.woff") format("woff");
}

@font-face {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 300;
  src:
    local("Fira Sans"),
    url("https://fonts.cdnfonts.com/s/15889/FiraSans-Light.woff") format("woff");
}

html {
  scroll-behavior: smooth;
}

* {
  font-family: "Schuss", serif;
  font-size: 20px;
}

.monarda {
  font-family: "Monarda", sans-serif;
}

.fira-sans {
  font-family: "Fira Sans", sans-serif;
}
