@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Schuss';
    font-style: normal;
    font-weight: 400;
    src: url('../static/fonts/SchussSerifPro-Regular.woff2') format("woff2");
}

* {
    font-family: 'Schuss';
    font-size: 20px;
    font-style: italic;
}