@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Schuss';
    font-style: normal;
    font-weight: 400;
    src: url('../static/fonts/SchussSerifPro-Regular.woff2') format("woff2");
}

@font-face {
    font-family: 'Monarda';
    font-style: normal;
    font-weight: 400;
    src: local('Monarda'), url('https://fonts.cdnfonts.com/s/38697/Monarda.woff') format('woff');
}

@font-face {
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Fira Sans'), url('https://fonts.cdnfonts.com/s/15889/FiraSans-Regular.woff') format('woff');
}

html {
    scroll-behavior: smooth;
}

* {
    font-family: 'Schuss', serif;
    font-size: 20px;
}

.monarda {
    font-family: 'Monarda', sans-serif;
}

.fira-sans {
    font-family: 'Fira Sans', sans-serif;
}